.project-pill {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  background-color: black;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.5s;
  &:hover {
    transition: all 0.5s;
    transform: translateY(-8px);
    
    box-shadow: 0px 8px 13px rgba(black, 0.4);
  }
  .overlay {
    background-color: rgba(#000, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 0;
    p {
      font-weight: bold;
    }
    .tags {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      position: absolute;
      right: 10px;
      bottom: 8px;
      span.tag {
        padding: 4px 10px;
        border-radius: 2px;
        font-size: 12px;
        line-height: 12px;
        background-color: white;
        color: black;
        margin-left: 5px;
      }
    }
  }
}